<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('template/head') %>
    <title>Espinales Electrix | Admin</title>
    <!-- link para los estilos CSS locales  -->
    <link rel="stylesheet" href="css/form.css" />
  </head>
  <body id="body">
    <!--Comienzo de la cabecera -->
    <%- include ('template/header', {nombre:name,exit:login , admin:entry }) %>
    <!--fin de la cabecera-->

    <main class="body">
      <section class="body-container bg-dark">
        <p class="warning" id="warning"></p>
        <form id="form" action="/admin-auth" method="POST" class="body-form">
          <label for="email" class="body-form-label"
            >Escribe tu correo electrónico*:</label
          >
          <input
            type="text"
            autofocus
            placeholder="Ejm: ejemplo@ejemplo.com"
            id="email"
            name="user"
            class="body-form-input"
          />
          <label for="password" class="body-form-label"
            >Escribe tu contraseña*:</label
          >
          <input
            type="password"
            id="password"
            name="pass"
            class="body-form-input"
          />

          <button
            type="submit"
            class="form-control btn btn-warning body-form-btn"
          >
            Ingresar
          </button>
          <div class="body-form-div">
            <a href="" class="body-form-link">¿Has olvidado tu contraseña?</a>
          </div>
        </form>
      </section>
    </main>
    <!--Inicio del FOOTER-->
    <%- include ('template/footer') %>
    <!--Final del FOOTER-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <% if (typeof alert != "undefined"){%>
    <script>
      Swal.fire({
          title:'<%= alertTitle %>',
          text:'<%= alertMessage %>',
          icon:'<%= alertIcon %>',
          showConfirmButton:<%=showConfirmButton %>,
          timer: <%= timer %>

      }).then(()=>{
          window.location='/<%= ruta %>'
      })
    </script>
    <% } %>
    <script type="text/javascript" src="js/login.js"></script>
  </body>
</html>
