<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('template/head') %>
    <title>Espinales Electrix | Panel de Administración</title>
  </head>

  <body>
    <!--Comienzo de la cabecera -->
    <%- include ('template/header', {nombre:name,exit:login , admin:entry}) %>
    <!--fin de la cabecera-->
    <div class="container pb-3">
      <h1 class="text-center fw-bold my-4">Módulos de Administración</h1>
      <div class="m-4 row d-flex justify-content-center">
        <div class="col-md-4">
          <div class="card text-center border-dark" style="width: 18rem">
            <img
              src="images/cliente.jpg"
              class="card-img-top"
              alt="..."
              height="220px"
            />
            <div class="card-body">
              <h5 class="card-title">Clientes</h5>
              <p class="card-text">Módulo de Administración de los Clientes.</p>
              <a href="admin-clientes" class="btn btn-info">Ir a Módulo</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center border-dark" style="width: 18rem">
            <img
              src="images/transformador.jpg"
              class="card-img-top"
              alt="..."
              height="220px"
            />
            <div class="card-body">
              <h5 class="card-title">Transformadores</h5>
              <p class="card-text">
                Módulo de Administración de los Transformadores.
              </p>
              <a href="admin-products" class="btn btn-info">Ir a Módulo</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Inicio del FOOTER-->
    <%- include ('template/footer') %>
    <!--Final del FOOTER-->
  </body>
</html>
