<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('template/head') %>
    <title>Espinales Electrix | Nuevo Transformador</title>
  </head>
  <body>
    <%- include ('template/header' , {nombre:name,exit:login, admin:entry}) %>

    <!-- formulario de registro -->
    <div class="container w-75 my-4">
      <div class="card border-dark">
        <div class="card-header bg-dark text-light text-center fw-bold fs-3">
          Nuevo Transformador
        </div>
        <div class="card-body">
          <form action="/save" method="POST">
            <div class="row">
              <div class="row mb-3">
                <div class="col-md-3 order-2">
                  <label for="admin" class="form-label fw-bold"
                    >ID Admin*:</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    id="admin"
                    name="admin"
                    min="1"
                    max="100"
                    tabindex="2"
                    readonly
                    value="<%= codigo %>"
                  />
                </div>
                <div class="col-md-9 order-1">
                  <label for="codigo" class="form-label fw-bold"
                    >Código*:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="codigo"
                    name="codigo"
                    tabindex="1"
                    required
                  />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-9 order-1">
                  <label for="serie" class="form-label fw-bold">Serie*:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="serie"
                    name="serie"
                    tabindex="3"
                    required
                  />
                </div>

                <div class="col-md-3 order-2">
                  <label for="voltaje" class="form-label fw-bold"
                    >Voltaje*:</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    id="voltaje"
                    name="voltaje"
                    tabindex="4"
                    min="0"
                    max="1000000"
                    required
                  />
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md-6 order-2">
                  <label for="ubicacion" class="form-label fw-bold"
                    >Ubicación*:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="ubicacion"
                    name="ubicacion"
                    tabindex="6"
                    required
                  />
                </div>
                <div class="col-md-6 order-1">
                  <label for="tipo" class="form-label fw-bold">Tipo*:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="tipo"
                    name="tipo"
                    tabindex="5"
                    required
                  />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-4 order-1">
                  <label for="tamano" class="form-label fw-bold">Tamaño*:</label>
                  <input
                    type="number"
                    class="form-control"
                    id="tamano"
                    name="tamano"
                    min="1"
                    max="1000"
                    step="0.01"
                    tabindex="7"
                    required
                  />
                </div>
                <div class="col-md-4 order-2">
                  <label for="peso" class="form-label fw-bold">Peso*:</label>
                  <input
                    type="number"
                    class="form-control"
                    id="peso"
                    name="peso"
                    min="1"
                    max="1000"
                    step="0.01"
                    tabindex="8"
                    required
                  />
                </div>
                <div class="col-md-4 order-3">
                  <label for="color" class="form-label fw-bold">Color*:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="color"
                    name="color"
                    tabindex="9"
                    required
                  />
                </div>
              </div>

              <div class="row justify-content-center">
                <button
                  type="submit"
                  class="btn btn-success col-md-2 m-1 fw-bold"
                  tabindex="10"
                >
                  Guardar
                </button>
                <a
                  href="/admin-products"
                  class="btn btn-danger col-md-2 m-1 fw-bold"
                  tabindex="11"
                  >Cancelar</a
                >
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!--Inicio del FOOTER-->
    <%- include ('template/footer') %>
    <!--Final del FOOTER-->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
