<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('template/head') %>
    <title>Espinales Electrix | Gestión de Clientes</title>
    <!-- Bootstrap CSS datatables -->
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css"
    />
  </head>
  <body>
    <%- include ('template/header' , {nombre:name,exit:login , admin:entry}) %>

    <!-- crud -->
    <div class="container pb-5">
      <div class="container d-flex justify-content-end">
        <a href="/create-cliente" class="btn btn-info fw-bold border-dark my-2"
          >Agregar</a
        >
      </div>

      <table
        id="table"
        class="table table-bordered table-striped text-center my-2 table-hover"
      >
        <thead class="table-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Email</th>
            <th scope="col">Cédula</th>
            <th scope="col">Celular</th>
            <th scope="col">Dirección</th>
            <th scope="col">Genero</th>
            <th scope="col">Tipo</th>
            <th scope="col">ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          <% results.forEach((producto)=>{%>
          <tr>
            <td><%= producto.US_ID%></td>
            <td><%= producto.US_NOMBRE%></td>
            <td><%= producto.US_APELLIDO%></td>
            <td><%= producto.US_EMAIL%></td>
            <td><%= producto.US_CEDULA%></td>
            <td><%= producto.US_CELULAR%></td>
            <td><%= producto.US_DIRECCION%></td>
            <td><%= producto.US_GENERO%></td>
            <td><%= producto.US_TIPO_PERSONA%></td>
            <td>
              <a
                href="/edit-cliente/<%= producto.US_ID%>"
                class="btn btn-outline-success"
                ><strong>𝑬</strong></a
              >
              <a
                onclick="confirmar2(<%= producto.US_ID%>)"
                class="btn btn-outline-danger"
              >
                <strong>X</strong></a
              >
            </td>
          </tr>
          <% })%>
        </tbody>
      </table>
    </div>
    <!--Inicio del FOOTER-->
    <%- include ('template/footer') %>
    <!--Final del FOOTER-->

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.2/dist/sweetalert2.all.min.js"></script>
    <script src="js/crud_product.js"></script>
  </body>
</html>
