<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('template/head') %>
    <title>Espinales Electrix | Inventario Transformadores</title>
    <!-- Bootstrap CSS datatables -->
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css"
    />
  </head>
  <body>
    <%- include ('template/header' , {nombre:name,exit:login , admin:entry}) %>

    <!-- crud -->
    <div class="container pb-5">
      <div class="container d-flex justify-content-end">
        <a href="/create" class="btn btn-info fw-bold border-dark my-2"
          >Agregar</a
        >
      </div>

      <table
        id="table"
        class="table table-bordered table-striped text-center my-2 table-hover"
      >
        <thead class="table-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Código</th>
            <th scope="col">Serie</th>
            <th scope="col">Ubicación</th>
            <th scope="col">Voltaje</th>
            <th scope="col">Tipo</th>
            <th scope="col">Tamaño</th>
            <th scope="col">Peso</th>
            <th scope="col">Color</th>
            <th scope="col">ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          <% results.forEach((producto)=>{%>
          <tr>
            <td><%= producto.PRO_ID%></td>
            <td><%= producto.PRO_CODIGO%></td>
            <td><%= producto.PRO_SERIE%></td>
            <td><%= producto.PRO_UBICACION%></td>
            <td><%= producto.PRO_VOLTAJE%></td>
            <td><%= producto.PRO_TIPO%></td>
            <td><%= producto.PRO_TAMANO%></td>
            <td><%= producto.PRO_PESO%></td>
            <td><%= producto.PRO_COLOR%></td>
            <td>
              <a
                href="/edit/<%= producto.PRO_ID%>"
                class="btn btn-outline-success"
                ><strong>𝑬</strong></a
              >
              <a
                onclick="confirmar(<%= producto.PRO_ID%>)"
                class="btn btn-outline-danger"
              >
                <strong>X</strong></a
              >
            </td>
          </tr>
          <% })%>
        </tbody>
      </table>
    </div>
    <!--Inicio del FOOTER-->
    <%- include ('template/footer') %>
    <!--Final del FOOTER-->

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.2/dist/sweetalert2.all.min.js"></script>
    <script src="js/crud_product.js"></script>
  </body>
</html>
