<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('template/head') %>
    <title>Espinales Electrix | Editar Cliente</title>
  </head>
  <body>
    <%- include ('template/header' , {nombre:name,exit:login , admin:entry}) %> <% if
    (product) { %>

    <!-- formulario de registro -->
    <div class="container w-75 my-4">
      <div class="card border-dark">
        <div class="card-header bg-dark text-light text-center fw-bold fs-3">
          Editar Cliente
        </div>
        <div class="card-body">
          <form action="/update-cliente" method="POST">
            <input
              type="text"
              id="id"
              name="id"
              value="<%= product.US_ID%>"
              hidden
            />
            <div class="row">
              <div class="row mb-3">
                <div class="col-md-6 order-2">
                  <label for="apellido" class="form-label fw-bold"
                    >Apellido*:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="apellido"
                    name="apellido"
                    tabindex="2"
                    required
                    value="<%= product.US_APELLIDO%>"
                  />
                </div>
                <div class="col-md-6 order-1">
                  <label for="nombre" class="form-label fw-bold"
                    >Nombre*:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="nombre"
                    name="nombre"
                    tabindex="1"
                    required
                    value="<%= product.US_NOMBRE%>"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6 order-1">
                  <label for="email" class="form-label fw-bold">Email*:</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    tabindex="3"
                    required
                    value="<%= product.US_EMAIL%>"
                  />
                </div>

                <div class="col-md-6 order-2">
                  <label for="pass" class="form-label fw-bold"
                    >Contraseña*:</label
                  >
                  <input
                    type="password"
                    class="form-control"
                    id="pass"
                    name="pass"
                    tabindex="4"
                    required
                    readonly
                  />
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md-6 order-1">
                  <label for="direccion" class="form-label fw-bold"
                    >Dirección*:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="direccion"
                    name="direccion"
                    tabindex="5"
                    required
                    value="<%= product.US_DIRECCION%>"
                  />
                </div>
                <div class="col-md-6 order-2">
                  <label for="tipo" class="form-label fw-bold"
                    >Tipo de Persona*:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="tipo"
                    name="tipo"
                    tabindex="6"
                    required
                    value="<%= product.US_TIPO_PERSONA%>"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-4 order-1">
                  <label for="cedula" class="form-label fw-bold"
                    >Cédula*:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="cedula"
                    name="cedula"
                    tabindex="7"
                    required
                    value="<%= product.US_CEDULA%>"
                  />
                </div>
                <div class="col-md-4 order-2">
                  <label for="celular" class="form-label fw-bold"
                    >Celular*:</label
                  >
                  <input
                    type="tel"
                    class="form-control"
                    id="celular"
                    name="celular"
                    tabindex="8"
                    required
                    value="<%= product.US_CELULAR%>"
                  />
                </div>
                <div class="col-md-4 order-3">
                  <label for="genero" class="form-label fw-bold">Género*:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="genero"
                    name="genero"
                    tabindex="9"
                    required
                    value="<%= product.US_GENERO%>"
                  />
                </div>
              </div>

              <div class="row justify-content-center">
                <button
                  type="submit"
                  class="btn btn-success col-md-2 m-1 fw-bold"
                  tabindex="10"
                >
                  Guardar
                </button>
                <a
                  href="/admin-clientes"
                  class="btn btn-danger col-md-2 m-1 fw-bold"
                  tabindex="11"
                  >Cancelar</a
                >
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <% } %>

    <!--Inicio del FOOTER-->
    <%- include ('template/footer') %>
    <!--Final del FOOTER-->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
