<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('template/head') %>
    <title>Espinales Electrix</title>
  </head>

  <body>
    <!--Comienzo de la cabecera -->
    <%- include ('template/header', {nombre:name,exit:login, admin:entry}) %>
    <!--fin de la cabecera-->
    <div
      id="carouselExampleCaptions"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="images/imagen1.jpg"
            class="d-block w-100"
            alt="imagen2.jpg"
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>Jonathan Espinales</h5>
            <p>FACCI - 5 "A"</p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="images/imagen2.jpg"
            class="d-block w-100"
            alt="imagen2.jpg"
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>Ing. Roberth Moreira, Mg.</h5>
            <p>Docente Tutor.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="images/imagen3.jpg"
            class="d-block w-100"
            alt="imagen3.jpg"
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>Universidad Laica "Eloy Alfaro" de Manabí</h5>
            <p>Carrera: Ingeniería en Tecnologías de la información.</p>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!--Inicio del FOOTER-->
    <%- include ('template/footer') %>
    <!--Final del FOOTER-->
  </body>
</html>
