<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('template/head') %>
    <title>Espinales Electrix | Usuario</title>
    <!-- Bootstrap CSS datatables -->
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css"
    />
  </head>
  <body>
    <%- include ('template/header' , {nombre:name,exit:login, admin:entry }) %>

    <!-- crud -->
    <div class="container py-5">
      <table
        id="table"
        class="table table-bordered table-striped text-center my-2 table-hover"
      >
        <thead class="table-dark">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Consumo</th>
            <th scope="col">Rec. Basura</th>
            <th scope="col">Bombero</th>
            <th scope="col">Alumbrado Público</th>
            <th scope="col">Descuento</th>
            <th scope="col">Total</th>
            <th scope="col">Fecha de Pago</th>
          </tr>
        </thead>
        <tbody>
          <% results.forEach((producto)=>{%>
          <tr>
            <td><%= producto.PLA_CODIGO%></td>
            <td><%= producto.PLA_CONSUMO%></td>
            <td><%= producto.PLA_BASURA%></td>
            <td><%= producto.PLA_BOMBERO%></td>
            <td><%= producto.PLA_ALUMBRADO%></td>
            <td><%= producto.PLA_DESCUENTO%></td>
            <td><%= producto.PLA_TOTAL%></td>
            <% var fecha = new Date(producto.PLA_FECHA_PAGO);%> <% var options =
            { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
            %> <% var newFecha = fecha.toLocaleDateString("es-ES", options); %>

            <td><%= newFecha%></td>
          </tr>
          <% })%>
        </tbody>
      </table>
    </div>
    <!--Inicio del FOOTER-->
    <%- include ('template/footer') %>
    <!--Final del FOOTER-->

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>
    <script src="js/crud_product.js"></script>
  </body>
</html>
