/*  INICIO DE RESETEO DE CSS
esto solo resetea las configuraciones iniciales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
li {
  text-decoration: none;
  list-style: none;
  color: black;
}
/* FIN DE RESETEO DE CSS */

/* INICIO DE DECLARACION DE VARIABLES
   variables con las que se trabajaran */
:root {
  --primarycolor: #009b94;
  --secondarycolor: #efefef;
  --thirdcolor: #1a2537;
  --fourthcolor: #367588;
  --primarytext: "Roboto", sans-serif;
  --secondtext: "Dancing Script", cursive;
  --shadow: rgba(0, 0, 0, 0.75);
}
/* FIN DE DECLARACION DE VARIABLES */

.body-tittle {
  text-align: center;
  font-family: var(--secondtext);
  font-size: 100px;
  color: var(--thirdcolor);
  text-shadow: 3px 2px 2px var(--secondarycolor);
  margin: 5px;
  padding: 5px;
}
.body-container {
  width: 80%;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 550px;
  /* background: var(--shadow); */
  border-radius: 10px;
  box-shadow: 7px 13px 37px #000;
}
.body-container .body-btn {
  grid-column: span 1;
  width: 100%;
  background: var(--secondarycolor);
  border: 0.5px solid black;
  border-radius: 4px;
  outline: none;
  padding: 15px 0;
  color: black;
  font-size: 25px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s ease;
}
.body-container .body-btn:hover {
  background: white;
}

.body-container .body-form {
  grid-column: 1/-1;
  width: 80%;
  padding: 10px 20px 10px;
  margin: auto;
}
.body-form-label {
  display: block;
  color: var(--secondarycolor);
  position: relative;
  padding: 5px;
}
.body-form-input {
  width: 100%;
  background: var(--shadow);
  padding: 12px;
  border-radius: 4px;
  margin-bottom: 20px;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--secondarycolor);
  color: white;
  font-size: 18px;
}
.body-form-input:focus {
  background-color: rgba(0, 0, 0, 0.25);
  border: 2px solid var(--secondarycolor);
}
.body-form-input-special {
  margin-bottom: 0;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 0.6;
  filter: invert(100%);
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
}
.body-form-btn {
  width: 100%;
  border-radius: 4px;
  outline: none;
  padding: 10px 0;
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s ease;
}

.body-form-div {
  text-align: center;
  padding: 10px 10px 0;
}
.body-form-div-p {
  color: white;
}
.body-form-p {
  color: white;
  padding: 10px 0 5px;
}
.body-form-p-2 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  margin-bottom: 10px;
  padding: 5px;
}
.body-form-link,
.body-article-link {
  color: var(--secondarycolor);
  transition: all 0.5s ease;
}
.body-form-link:hover,
.body-article-link:hover {
  color: var(--primarycolor);
  text-decoration: underline;
}
.body-form-selection {
  height: 22px;
  width: 22px;
}
.body-container .body-article {
  grid-column: 1/-1;
  width: 80%;
  margin: auto;
  text-align: center;
  color: white;
}
.body-article-tittle {
  padding: 10px;
  text-transform: uppercase;
  font-size: 22px;
}
.body-article-p {
  padding: 10px;
}

.body-article-btn {
  width: 40%;
  background: var(--secondarycolor);
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 15px 0;
  color: black;
  margin: 10px 0;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s ease;
}
.body-article-btn:hover {
  background: white;
}

.warning {
  width: 100%;
  grid-column: 1/-1;
  text-align: center;
  font-style: italic;
  font-weight: bolder;
  margin: auto;
  color: var(--primarycolor);
  padding: 10px 0 0;
}
@media screen and (min-width: 381px) and (max-width: 480px) {
  .body-tittle {
    font-size: 70px;
  }
}
@media screen and (max-width: 380px) {
  .body-tittle {
    font-size: 40px;
  }
  .body-container .body-form,
  .body-container .body-article {
    width: 100%;
  }

  .body-container .body-btn,
  .body-form-btn,
  .body-article-btn {
    font-size: 18px;
  }
}
