<header>
  <nav class="navbar p-3 sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a href="#" class="navbar-brand">
        <div class="text-light fs-5 px-5">Espinales J- Electrix</div></a
      >
      <a class="navbar-brand px-5" href="#"> <%= nombre %></a>
      <div class="px-5">
        <% if (exit) { %> <% if (admin) { %>
        <a href="administracion" class="btn btn-outline-info"
          >Panel de Administración</a
        >
        <% } else { %>
        <a href="usuario" class="btn btn-outline-info">Planillas</a>
        <%}%>
        <a href="logout" class="btn btn-outline-danger">Cerrar Sesión</a>

        <% } else { %>

        <a href="admin" class="btn btn-outline-warning">Administrador</a>
        <a href="login" class="btn btn-outline-info">Usuario</a>
        <%}%>
      </div>
    </div>
  </nav>
</header>
